@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&family=Rajdhani:wght@400;500&family=Redressed&family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Indie+Flower&family=Permanent+Marker&family=Rajdhani:wght@400;500&family=Redressed&family=Vast+Shadow&display=swap');
.header {
    padding-top: 3vmin;
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2vmin;
    /* border-bottom: 1px dotted lightgrey; */
}
.header__logo-link {
    height: 80px;
    display: flex;
}
.logo-text {
    margin-left: 1vmin;
    line-height: 80px;
    display: block;
    font-size: 3.8vmin;
    color:white;
    color: lightblue;
}

.header__right-item {
    text-align: center;
    line-height: 100px;
    color: white;
    border-radius: 8px;
    font-size: 22px;
}
.header__right-item:not(:last-child) {
    margin-right: 5vmin;
}
.button-post {
    padding: 10px 30px;
    border: 2px solid white;
    font-weight: bold;
}
.header__button:hover {
    box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px white;
}
.button-post:hover {
    background-color: white;
    color: #5bafc8;
}
.header__right-item:hover {
    color: #5bafc8;
}
