.articles-container {
    
    max-width: 1920px;
    margin: auto;
}
.main__articles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3vmin 0;
}
.main__article {
    width: 70%;
}
.articles-side-menu {
    width: 25%;
}