.container {
    max-width: 100vw;
    background-color: rgb(252, 227, 231)
}
.searching-block {
    display: flex; 
    justify-content: space-around;
}
.button__show-all {
    display: block;
    width: 300px;
    text-align: center;
    line-height: 4;
    border: 1px solid black;
}