
@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Indie+Flower&family=Marcellus+SC&family=Permanent+Marker&family=Rajdhani:wght@400;500&family=Redressed&family=Vast+Shadow&display=swap');
.container {
    max-width: 1920px;
    margin: auto;
  }

.search-container {
    width: 100%;
    margin: auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10vmin 0;
    border-bottom: 1px dotted lightgray;
}

.search-button {
    width: 16%;
    text-align: center;
    border-radius: 3%;
    background-color: #5bafc8;
    color: white;
    padding: 18px 0;
    border: 1px solid transparent;
    border-radius: 6px;
    font-family: 'Marcellus SC', serif;
    font-size: 28px;
 
}
.main {
    display: flex;
}
.main__all-postings {
    width: 70%;
}
.main__articles-menu {
    width: 25%;
    padding: 5vmin 0 5vmin 5vmin;
}
.main__all-postings {
    margin: 5vmin 0;
    border-radius: 5px;
    background-color:rgb(244, 244, 244);
    
}