@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Indie+Flower&family=Marcellus+SC&family=Permanent+Marker&family=Rajdhani:wght@400;500&family=Redressed&family=Vast+Shadow&display=swap');

.all-jobs-block {
    background-color: #f4f3f4;
    border-radius: 20px;
    padding: 2vmin;
}
.all-jobs__header {
    font-family: 'Arial';
    color: rgb(33, 33, 58);
    font-size: 40px;
    margin-bottom: 2vmin;
}
.posting {
    margin: 2vmin;
    padding: 4vmin;
    border-radius: 10px;
    background-color: #fffeff;
    display: flex;
    justify-content: space-between;
}
.company-logo {
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
}
.Microsoft-logo {
    background-image: url(Images/microsoft-logo.png);
}
.HP-logo {
    background-image: url(Images/hp.png);
}
.WIX-logo {
    background-image: url(Images/wix.png);
}
.Tesla-logo {
    background-image: url(Images/tesla.png);
    background-repeat: no-repeat;
    background-position-y: center;
}
.Harmonic-logo {
    background-image: url(Images/harmonic.png);
}
.posting-block {
    width: 86%;
    position: relative;
}

.job-title {
    margin-bottom: 3vmin;
    font-size: 36px;
}
.posting__info-row {
    margin-bottom: 1vmin;
    display: flex;
}
.field {
    font-size: 20px;
    line-height: 1.8;
    font-weight: bold;
    margin-bottom: 1vmin;
    background-color: #f4f3f4;
    padding: .5vmin 1.5vmin;
}
.field:not(:last-child) {
    margin-right: 1vmin;
}
.short-description {
    font-size: 20px;
    line-height: 1.8;
    display: none;
}
.job-description {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 1.8;
}
.job-description h4{
    margin: 1.4vmin 0 .5vmin 0;
    font-weight: bold;
}
.job-skills-must {
    color:  rgb(33, 33, 58);
    list-style-image: url(Images/vv.png);
    padding-left: 2vmin;
}
.contact {
    padding: 1vmin 3vmin;
}
.contact-info {
    margin-top: 2.5vmin;
}
.contact-us {
    margin-bottom: 2vmin;
    font-size: 20px;
}

.show-hide-button {
    padding: 1.2vmin;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    border: 3px solid #5bafc8;
    color: #5bafc8;
}
.hidden-block {
    display: none;
}
.visible {
    display: block;
}
.show-hide-button:hover {
    background-color: #5bafc8;
    color: white;
    
    /* box-shadow: 0 0 10px 0 rgb(33, 33, 58) inset, 0 0 20px 2px rgb(33, 33, 58); */
}