.articlesList {
    background-color: #f4f3f4;
    padding: 2vmin;
    border-radius: 10px;
}
.article-item {
    padding: 1vmin ;
    margin-bottom: 2vmin;
    background-color: #f4f3f4;
    border-radius: 20px;
    font-size: 20px;  
}
.articles-list__title {
    font-size: 24px;
    padding-bottom: 1vmin;
}
.article-item:hover {
    background-color: rgb(214, 236, 244);
    cursor: pointer;
}
