
.employers-page {
    background-color: rgb(33, 33, 58);
}
.epmloyers-container {
    max-width: 1920px;
    margin: auto;
}
.employers__functions {
    padding: 5vmin 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.employers__input {
    padding: 1.5vmin;
    width: 300px;
    font-size: 1.5vmin;
    border-radius: 5px;
}
.eployers__input-block {
    display: flex;
    flex-direction: column;
    font-size: 2vmin;
    color: lightblue;
}
.eployers__input-block label {
    margin-bottom: 2vmin;
}
.company-search__button {
    display: inline;
    padding: 2vmin;
}
.new-post-button {
    color: rgb(33, 33, 58);
    padding: 5vmin;
    margin-left: 25vmin;
    border: 2px solid white;
    background-color: lightblue;
    border-radius: 5%;
    font-family: 'Redressed', cursive;
    font-size: 3vmin;
}