.center {
    margin: auto;
}
.submit-button {
    padding: 3vmin 10vmin;
    width: 50%;
    border: 5px solid rgb(12, 12, 89);
    color: rgb(12, 12, 89);
    background-color: lightblue;
    border-radius: 5px;
    margin: auto;
    font-size: 3vmin;
}
/* body {
    background-color: rgb(33, 33, 58);
    min-height: 100vw;
} */
.success-message {
    padding: 3vmin;
    width: fit-content;
    margin: 7vmin auto;
    color: lightblue;
    border: 8px solid lightblue;
    background-color: white;
    font-size: 3vmin;
}