.update__container {
    font-size: 20px;
}
.form {
    border-radius: 10px;
}
.update__header {
    color: white;
    font-weight: normal;
    margin: 2vmin 0;
}

.update__label {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 1vmin;
    color: rgb(66, 162, 194);
}
.update__description {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 10px;
    resize: none;
    background-color: #fffeff;
    border: none;
    padding: 2vmin;
    min-height: 200px;
    width: 92%;
    margin-bottom: 3vmin;
      }
.submit-button {
    padding: 3vmin 10vmin;
    width: 50%;
    color: white;
    background-color: #5bafc8;
    border: none;
    border-radius: 5px;
    margin: auto;
    font-size: 2.4vmin;
}
.submit-button:hover {
    background-color:  #2686a4;
}
/* body {
    background-color: rgb(33, 33, 58);
    min-height: 100vw;
} */
.success-message {
    padding: 3vmin;
    width: fit-content;
    margin: 7vmin auto;
    color: lightblue;
    border: 8px solid lightblue;
    background-color: white;
    font-size: 3vmin;
}