.active-article__block {
    background-color: #f4f3f4;
    padding: 3vmin;
    border-radius: 10px;
}
.active-article__title {
    font-size: 40px;
    margin-bottom: 2vmin;
    padding-bottom: 2vmin;
    border-bottom: 1px dotted lightgray;
}
.active-article__description {
    font-size: 22px;
    line-height: 1.5;
}
.active-article__subtitle {
    padding: 2vmin 0;
    font-size: 30px;
    color: rgb(99, 191, 211);
}
.active-article__text {
    font-size: 22px;
    line-height: 1.6;
}
.active-article__example {
    padding-top: 1vmin;
    padding: 2vmin 0 2vmin 1vmin;
    font-size: 22px;
    line-height: 1.5;
    font-style: italic;
    color: rgb(133, 132, 132);
}