.delete-section {
    width: 70%;
    margin: auto;
}
.delete__title {
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
}
.delete__button {
    padding: 3vmin;
    width: 50%;
    font-size: 3vmin;
    border: none;
    background-color: rgb(244, 98, 98);
    border-radius: 12px;
    color: white;
    opacity: none;
    display: block;
    margin: auto;
}
.delete__button:hover {
    background-color: rgb(240, 71, 71);
}